<%- include header.ejs %>

    <div class="bodyCategory">
       
        <ol>
            <% if(items.length != 0) {%>
            <span>
            <% _.each(items, function(topC) { %>
            <li>
                <h1><%= topC.name %></h1>
                <p><%= topC.page_description %></p>
                <% if (topC.image) { %>
                <div>
                    <img src="/images/<%= topC.image %>">
                </div>
                <% } %>
                <div>
                    <ol>
                        <% _.each(topC.categories, function(subC) { %>
                        <li>
                            <h2><%= subC.name %></h1>
                            <% if (subC.image) { %>
                            <div>
                                <img src="/images/<%= subC.image %>">
                            </div>
                            <% } %>
                            <p><%= subC.page_description %></p>
                           <a href="<%=subC.categories%>" class="button">View products</a>
                        </li>
                        <% }); %>
                    </ol>
                </div>
            </li>
            <% }); %>
        </span>
        <%} else {%>
            <h1>Page not found: The category name is invalid !</h1>
            <% } %>
        </ol>
    
    </div>

<%- include footer.ejs %>