<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
  	
    <body>
        <div class="header-wrapper">
            <div class="saleMsg">FREE SHIPPING ON ALL ORDERS ABOVE 99€</div>

              <div class="top-bar" id="responsive-menu">
                <div class="top-bar-left">
                  <ul class="dropdown menu" data-dropdown-menu>
                    <li><a <%if (title==='home'){%> <%= 'class=active'%> <%}%> href='home'>HOME</a></li>
                    <li ><a <%if (title==='hello'){%> <%= 'class=active'%> <%}%> href='hello'>HELLO</a></li>
                    <li><a <%if (title==='men'){%> <%= 'class=active'%> <%}%> href='men'>MEN</a></li>
                    <li><a <%if (title==='women'){%> <%= 'class=active'%> <%}%> href="women">WOMEN</a></li>
                    <li><a href="#0">NEWS</a></li>
                  </ul>
                </div>
                <div class="top-bar-right">
                  <ul class="menu">
                    <li><a href="#0">Store Locator</a></li>
                    <li><a href="#0">Login</a></li>
                    <li><a href="#0">Order status</a></li>
                  </ul>
                </div>
              </div>

              <nav role="navigation">
                <ul class="breadcrumbs">
                  <li><a href='home'>Home</a></li>
                  <li><a href='hello'>Hello</a></li>
                  <li><a href='men'>Men</a></li>
                  <li><a href="#">Women</a></li>
                </ul>
              </nav>
        </div>
    </body>