<%-include header.ejs %>
    <div class="row container">
       
        <div class="carousel" data-state="0">
            <div class="selectorButtons" >
                <button class="arrowUP">↑</button>
                <div class="selectorImages" id="selectorImages">
                    <% _.each(product.image_groups, function(image_group, i) { %>
                        <% if (image_group.view_type === "large" && image_group.images[0].link){ %>
                            <img data-index= "<%=i%>" class="image<%= (i===0)? ' active': ''%>" src="/images/<%= image_group.images[0].link%>"></img>
                        <% } %>
                    <% }); %>
                </div>
                <button class="arrowDOWN">↓</button>
            </div>

            <div class="selectedImage">
                <% if (product.image_groups[0].view_type === "large" && product.image_groups[0].images[0].link){ %>
                    <img class="mainImage" src="/images/<%= product.image_groups[0].images[0].link%>"></img>
                <% } %>
            </div>
        </div>
        

        <div class="mainContent">
            <div class="productHeader">
                <div class="itemNumber">Item No. <%=product.id %></div>
                <hr style="margin:0">
                <div class="productName"><%=product.name%></div>
                <div class="PriceAndCurrency">
                    <div class="productPrice" data-price="<%=product.price%>">
                    <%=product.price%>
                    </div>
                    <select class="chooseCurrency">
                        <% _.each(Object.entries(currencies), function([currency, value]){ %>
                            <% if (currency === product.currency){ %>
                                <option selected="selected" value="<%= product.currency %>" data-currency-value="<%= value%>">
                                    <%= product.currency %>
                                </option>
                            <% } else { %>
                                <option class="options" value="<%= currency %>" data-currency-value="<%= value%>">
                                    <%=currency%>
                                </option>
                        <% } %>
                            <% }) %>
                    </select> 
                </div>
                <hr style="margin:0">
            </div>

            <div class="colorVariations">
                <p>Color</p>
                <div class="color">
                    <% _.each(product.image_groups, function(image_group){ %>
                        <% if (image_group.view_type === "swatch"){ %>
                            <% _.each(image_group.images, function(link){ %>
                                <% if (!!link.link){ %>
                                    <img   src="/images/<%= link.link %>"></img>
                                <% } %>
                        <% }) %>
                    <% } %>
                <% }); %>
                </div>
            </div>

            <div class="sizeNumber">
                <div>Size</div>
                <div class="sizes">
                <% _.each(product.variation_attributes, function(variations){ %>
                    <% if (variations.id === "size"){%>
                        <% _.each(variations.values, function(value){%>
                            <% if (value.orderable === true){ %>
                                <div class="activeSize">
                                <button><%=value.value%></button>
                            </div>
                            <%}%>
                        <%})%>
                    <%}%>
                <% })%>
                </div>
            </div>
            
            <div class="quantity">
                <div>Quantity</div>
                <div class="row">
                    <div class="buttons">
                        <button class="minus" id="minus">-</button>
                        <input type="numeric" value="0" class="input" id="input"/>
                        <button class="plus" id="plus">+</button>
                    </div>
                    <div class="cart">
                        <button>ADD TO CART</button>
                    </div>
                </div>
            </div>

            <hr style="margin-top:1.5rem">

            <div class="socials">
                <p>Share</p>
                <div class="share">
                    <div class="images">
                        <img src="/images/fb-logo.png"/>
                        <img src="/images/twitter-logo.png"/>
                        <img src="/images/instagram-logo.png"/>
                    </div>
                    <div class="wishlist">
                        <img src="/images/heart.png"/>
                        <div>ADD TO WISHLIST</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="descriptionField">
            <p>DESCRIPTION</p>
            <div class="descriptions">
                <div class="shortDescr"><%= product.short_description%></div>
                <% if(product.long_description.length != 0){ %>
                    <div class="longDescr"><%- product.long_description%></div>
            <% }%>
            </div>
        </div>

    </div>
<%- include footer.ejs %>