<%-include header.ejs %>
    <div class="bodyContainer">
        <div >
            <ol class="row productCardContainer">
                <% _.each(items, function(product) { %>   
                    <a href="#">
                    <li class=" productCard">
                        <% let bool = true; %>
                        <% _.each(product.image_groups, function(image_group) { %>
                            
                            <% if (image_group.view_type === "medium" && image_group.images[0].link && bool){ %>
                                <img  class="image" src="/images/<%= image_group.images[0].link%>"></img>
                                <% bool = false; %>
                                <% if(product.c_isSale === true) { %>
                                    <div class="ribbon">
                                        <span>SALE</span>
                                    </div>
                                <% } %>
                            <% } %>
                        <% }); %>

                        <div class="content">
                            <div class="color_variations">
                                <% _.each(product.image_groups, function(image_group){ %>
                                    <% if (image_group.view_type === "swatch"){ %>
                                        <% _.each(image_group.images, function(link){ %>
                                            <% if (!!link.link){ %>
                                                <img src="/images/<%= link.link %>"></img>
                                            <% } %>
                                       <% }) %>
                                   <% } %>
                               <% }); %> 
                                
                            </div>
                                <h3 class="name"><%= product.name %></h3>
                        </div>
                        <hr style="margin:0">
                        <div class="price"><%= product.price %> <%= product.currency %></div>
                </li>
                </a>
                <% }); %>
            </ol>
        </div>
    </div>
<%- include footer.ejs %>
