<%-include header.ejs %>
    <div class="bodyContainer">
        <div >
            <ol class="row productCard">
                <% _.each(items, function(product) { %>   
                <li class="columns large-5">
                    <h1 class="name"><%= product.name %></h1>

                    <% if ( product && product.image_groups && product.image_groups[3] && product.image_groups[3].images 
                            && product.image_groups[3].images[0] && product.image_groups[3].images[0].link)
                            { %>
                                <div class="content">
                            <img class="image" src="/images/<%= product.image_groups[3].images[0].link%>">
                        <% } else {%>
                            <p>Image not Available</p>
                            <%}%>
                    <div class="information">
                    <p class="description"><%= product.short_description %></p>
                        <div class="bottomInfo">
                    <p class="price">Price: <%= product.currency %> <%= product.price %></p>
                    <a href="<%= %>" class="button">More info</a>
                         </div>
                     </div>
                    </div>
                </li>
                <% }); %>
            </ol>
        </div>
    </div>
<%- include footer.ejs %>
